@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body, html, div, h1, h2, h3, h4, h5, h6, p, span, button, input, select, textarea {
    font-family: "Poppins", "Roboto", "Arial", sans-serif !important;
}

h1, h2, h3 {
    font-weight: 600;
    color: white;
    padding-top: 20px;
}

p{
    color: white;
    text-align: center;

}

.MainHeader {
    display: flex;
    flex-direction: column;
    grid: h;
    width: 200px;
    background-color: #002784;
    margin-left: -0.6%;
    align-items: center;
    text-align: center;
    color: white;
    min-height: 100vh;
}

.PicLogo {
    width: 100px;
    height: 100px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50; 
    color: white; 
    text-align: center;
    text-decoration: none;  
    border-radius: 5px;  
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    width: 100px;
    height: 20px;
}

.button-link:hover {
    background-color: #45a049;
}

.button-link:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
}

.DashboardPag{
    display: flex;
    flex-direction: row;
    border: 0px;
    margin: 0px;
}

h1{
    text-align: center;
    font-size: 20px;
    margin-top: 0;
}

.UserTitulo{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bolder;
}

p{
    margin-top: 0;
}

.CEOCard, .CTOCard, .CFOCard {

    background-color: #4CAF50; 
    color: white;                
    background-color: #002784;
    font-size: 24px;        
    font-weight: bold;         
    text-align: center;          
    align-items: center;
    border-radius: 15px;         
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
    width: 300px;
    height: 200px;
    margin: 20px auto;           
    margin-left: 0px;
    margin-right: 100px;
    transition: background-color 0.5s ease, background-image 0.5s ease; 
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.CEOCard:hover, .CTOCard:hover, .CFOCard:hover {
    transform: scale(1.05);       
    background-color: #006400;     
    background-image: linear-gradient(to left, #002784, #006400);  
    transform: scale(1.05);         
}

.Cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.Pagina {
    background-image: url("color_gradient.avif");
    background-size: cover;        
    background-position: center;   
    background-repeat:repeat;
    min-height: 100vh;
    min-width: 200vh;    
}


.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh;
    background-color: #f4f7fa;
    background-image: url("color_gradient.avif");
    background-size: cover;        
    background-position: center;   
    background-repeat:repeat;
}

.login-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
    padding-right: 25px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}



.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-btn:hover {
    background-color: #0056b3;
}

.links-container {
    margin-top: 10px;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.card-metrica {
    background-color: #002784;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 330px;
}

.metricasMainCard {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-decoration: none;
    text-align: center;
    width: 330px;
    height: 175px;
}

.metricasMainCard:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.metricasMainCardHome{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-decoration: none;
    text-align: center;
}

.metricasMainCardHome:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.card-metrica:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.kpi-box {
    text-decoration: none;
    color: white;
}

.Metricas-Card {
    align-items: center;
    justify-content: center;
}
